
@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight:300px;
}

header{
	background-color:#00BCBB;
	padding-bottom:42px;
	margin-top:-50px;
	z-index:-100;
}



header .head-left{

	
}
header .head-left .fast{
	
	margin-right:15px;
}

header .head-left .last{
	
	margin-left:20px;
}
header .head-left a{
	color:white;
	margin:6px;
}
header .head-right a{
	color:white;
	margin-left:6px;
	text-decoration:none;
}

header .head-right select{
	color:white;
	background-color:#00BCBB;
	border:none;
	
}



/* Navbar Area Start */

.bg {
    background-color:rgba(255,255,255,0.5);
	
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 1rem;
	
}
.navbar-light .navbar-nav .nav-link {
    color: black;
	font-size:14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#678DE9;
}
.fixed-top{
    
    top: 50px;
}


.Navbar-area .searchNav {
    margin-left: 834px;
    padding: 31px 31px;
    position: absolute;
	transition:all .5s;
}

.Navbar-area .searchNav img{
	padding:0px 0px;
}
.Navbar-area .searchNav:hover{
	background-color:#21BDFB;
}
.white{
	background-color:#fff;
	transition:all .5s;
}
.searchSticky{
	background-color:#21BDFB;
	transition:all .5s;
}

/* Navbar Area End */



.header-images{
	
}

.header-images .bottom-area{
	background-color: #303944;
    height: 200px;
    width: 100%;
    margin-top: 426px;
    position: absolute;
}
.header-images .bottom-area .tex-area{
	color:#FF5B61;
	margin-top:114px;
    margin-left: 80px;
}
.header-images .tex-area-icon{
	margin-top:-10px;
    position: absolute;

}
.services-sec{
	background-color:#fff;
	display:flex;
	z-index:100;
	margin-top:340px;
	padding:20px 20px;
}

.services-sec h6{
	margin-right:300px;
	padding:40px 20px;
}

.services-sec .service-box{
	border:1px solid #F1F3F8;
	width:100px; 
	height:100px; 
	padding:20px;
	margin:10px;
}


/*employe-area*/
.employe-area{
	margin-bottom:100px;
}

.employe-area .link-area a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	background-color:#DCE4EF;
	color:black;
	padding:2px 10px;
	border-radius:15px;
	
}


/*employe-area*/



/* Travel-Comments-Area */
.travel-area{}

.travel-area img{
	width:220px;
	height:220px;
}
.travel-area .travel-comments{
	position: absolute;
    margin-top: -223px;
    margin-left: 240px;
}


.travel-area .travel-comments .travel-link {
	margin-bottom:10px;
}

.travel-area .travel-comments .travel-link a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	background-color:#DCE4EF;
	color:black;
	padding:2px 10px;
	border-radius:15px;
}

.travel-area .travel-social-icon{
	display:flex;
	margin-top:50px;
}

.travel-area .travel-social-icon .icon1{
	text-decoration:none;
	color:white;
	background-color:#3E4095;
	padding:10px 10px;
	
}

.travel-area .travel-social-icon small{
	font-size:12px;
	text-align:center;
	
}
.travel-area .travel-social-icon span{
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	line-height:1px;
	position:absolute;
	
}




.travel-area .travel-social-icon .icon2{
	text-decoration:none;
	color:white;
	background-color:#00AFF0;
	padding:10px 10px;
	margin:0px 4px;
}



.travel-area .travel-social-icon .icon3{
	text-decoration:none;
	color:white;
	background-color:#ED3338;
	padding:10px 6px;
	margin-right:4px;
}



.travel-area .travel-social-icon .icon4{
	text-decoration:none;
	color:white;
	background-color:#FFCC2A;
	padding:10px 10px;
	
}


/* Travel-Comments-Area-end */
/* heppen-Area- */

.heppen-box{
    background-color: #FFF;
	box-shadow:2px 0px 10px 1px rgba(0,0,0,0.5)
}



.heppen-area .area-third .side-box1{
	position:absolute;
	border:2px solid #C7C7C7; 
	padding:8px;
	margin-top:-159px;
	margin-left:165px;
}

.heppen-area .area-third .stikar{
	position:absolute; 
	background-color:#FC5487;
	z-index:100;
	transform: rotate(270deg);
	margin-top: -93px;
	margin-left:100px;
}

.heppen-area .area-third .stikar2{
	position:absolute; 
	background-color:#FC5487;
	z-index:100;
	transform: rotate(270deg);
	margin-top:-170px;
	margin-left:-56px;
}

.heppen-area .area-third .slide-box2{	
position:absolute; 
background-color:#fff; 
border:2px solid #C7C7C7; 
padding:8px;
 margin-top:-255px; 
 margin-left:175px;

}

/* heppen-Area-end */





/* footer section*/
.foot{
	background-color:#474747;
	position:relative;
}


.news .email{
	position:relative;
	overflow:hidden;
	background-color:#474747;
	border:1px solid #989898;
	color:#ffffff;

}

.news .btn {
	position:absolute;
	margin-top:-37px;
	margin-left:311px;
	background-color:#9A8E5E;
	color:#fff;
	border-radius:0px;
	border:none;
	padding:7px 15px;
	
}

table tr .text{
	color:#9A8E5E;
}

table tr td ul{
	list-style:none;
}

table tr td ul li{
	display:inline-block;
}

table tr td a{
	margin:2px;
	border:1px solid #858585;
	
}

table tr td ul li .ficon-1{
	padding:4px 11px;
}

table tr td ul li .ficon-2{
	padding:4px 6px;
}

table tr td ul li .ficon-3{
	padding:4px 4px;
}

table tr td ul li .ficon-4{
	padding:4px 6px;
}

table tr td a i{
	color:#858585;
}

.menu2 ul{
	float:right;
	list-style:none;
}

.menu2 ul li{
	display:inline-block;
	padding-left:15px;
}

.menu2 ul li a{
	text-decoration:none;
	color:#BEC0B2;
}

.horizontal{
	height:2px;
	width:100%;
	background-color:#9A8E5E;
	margin:10px 0px;
}

/* footer section End*/





/*============For Responsive Design=======*/


/* Learge device */
@media screen and (max-width: 992px){
.services-sec h6{
	margin-right:0px;
	padding:40px 20px;
}


.heppen-area .area-first{
	margin-bottom:150px;
}

.heppen-area .area-second{
	margin-bottom:30px;
}

.heppen-area .area-third .image1{
	margin-top:0px;
	margin-bottom:480px;
}

.heppen-area .area-third .side-box1{
	
	margin-top:-639px;
	margin-left:165px;
}

.heppen-area .area-third .imgase2{
	margin-top:100px;
	margin-left:-170px;
}

.heppen-area .area-third .stikar{	margin-top:-320px;margin-left:-56px;
	position:absolute; 
	background-color:#FC5487;
	z-index:100;
	transform: rotate(270deg);
	margin-top: -573px;
	margin-left:100px;
}	

.heppen-area .area-third .stikar2{	
margin-top:-320px;
margin-left:-56px;

}

.heppen-area .area-third .slide-box2{	
 margin-top:-400px; 
 margin-left:170px;

}	
	
.news .btn {
	
	margin-top:-38px;
	margin-left:292px;
}

.logo-img img{
	margin-right:35px;
	margin-bottom:25px;
	margin-left:0px;
	padding:0px;
}
.visa img{
	margin:0px;
	float:left;
}

/* large device end code */
}





/* Medium device */
@media screen and (max-width: 768px){
.services-sec .service-box{
	width:80px; 
	height:80px; 
	padding:10px;
	margin:10px;
}


.services-sec h6{
	margin-right:0px;
	padding:10px 0px;
}
.news .btn {
	margin-top:-38px;
	margin-left:470px;
}
/* Medium device end code */
}




/* Small device */
@media screen and (max-width: 576px){
	
.news .btn {
	margin-top:-38px;
	margin-left:475px;
}
/* small device end code */
}