
@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight:300px;
}

/* Navbar Area Start */

.bg {
    background-color:rgba(255,255,255,0.5);
	
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 1rem;
	
}
.navbar-light .navbar-nav .nav-link {
    color: black;
	font-size:14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#678DE9;
}
.fixed-top{
    
    top: 50px;
}


.Navbar-area .searchNav {
    margin-left: 834px;
    padding: 31px 31px;
    position: absolute;
	transition:all .5s;
}

.Navbar-area .searchNav img{
	padding:0px 0px;
}
.Navbar-area .searchNav:hover{
	background-color:#21BDFB;
}
.white{
	background-color:#fff;
	transition:all .5s;
}
.searchSticky{
	background-color:#21BDFB;
	transition:all .5s;
	
}

/* Navbar Area End */



/* Second Slider  */

.slideText h1{
	padding-top:280px;
	text-align:center;
	color:#FFFFFF;
	font-weight:800px;
	font-size:50px;
}

.slideText h5{
	text-align:center;
	color:#FFF;
}
/* Second Slider  */




/* Search Box Start*/

.search-box{
	background-color:#515C62;
	margin-top:-60px;
	padding:20px 0px;
}

.search-box .form-control{
	width:390px;
	border:0px;
	border-radius:0px;
}

.search-box .search-box1{
	margin-left:100px;
}

.search-box .search-box2{
	margin-left:5px;
}

.search-box .search-box3{
	margin-right:106px;
	margin-left:5px;
}

.search-box .search-box3 .btn{
	background-color:#488AF8;
	color:#fff;
}

/* Search Box End */




/* Media object */
.box-1{
	
	position:absolute;
	margin-top:px;
	margin-left:23px;
}


.box-1 .fa-facebook-f{
	background-color:#3B5999;
	color:#fff;
	padding:10px 12px;
}

.box-1 .fa-google-plus-g{
	background-color:#DE4B39;
	color:#fff;
	padding:10px 5px;
}

.box-1 .fa-twitter{
	background-color:#56ACEF;
	color:#fff;
	padding:10px 8px;
}


.media ul .fa-phone{
	border-left:2px solid #F4F4F4;
	padding-left:10px;
}

.media ul .fa-laptop{
	border-left:2px solid #F4F4F4;
	padding-left:10px;
}

.media ul .fa-envelope{
	border-left:2px solid #F4F4F4;
	padding-left:10px;
}

/* Media object End */







/* Card-box-header-footer */

.card {
    font-weight: 400;
    border-radius: 0;
	transition:.5s ease;
}

.card:hover{
    border: 0;
	box-shadow:0px 15px 23px 0px rgba(0,0,0, .3) ;
	
}
.card-body {
    padding: 9px;
}
.card .view.overlay.hm-white-slight {
    overflow: hidden;
    position: relative;
}
.card .view.overlay.hm-white-slight .fa-image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(56,184,234, 0.6);
    font-size: 15px;
    width: 34px;
    text-align: center;
    padding: 7px;
    color: #ffffff;
    z-index: 500;
}
.card .view.overlay.hm-white-slight img {
-webkit-transition: all .5s;
transition: all .5s;
}
.card:hover .view.overlay.hm-white-slight img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.card .info-button .btn-sm {
    padding: .5rem 0.7rem;
}
.card .info-button .btn-sm.book-now {
    padding: .5rem 1.5rem;
    background: #38B8EA;
}
.card h6.card-title {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 500;
}
.card h6 a {
    color: #868686;
}
.card p {
    margin-bottom: 10px;
}
.card ul {
    margin-bottom: 0;
}
.card .far.fa-star {
    position: relative;
    width: 29px;
    height: 27px;
    line-height: 27px;
    text-align: center;
}
.card .far.fa-star::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 27px;
}
.card ul li .btn{
	font-size:10px;
	border-radius:0px;
	color:#fff;
	text-transform:uppercase;
	 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.card ul li .Deals:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .book .btn{
	font-size:10px;
	border-radius:0px;
	color:#fff;
	text-transform:uppercase;
	padding-left:16px;
	padding-right:16px;
	background-color:#39B9EA;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
.card .book .btn:hover{
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color:#FF7E00;
}

.offer-tag {
    background: #e01a33;
    color: white;
    transform: rotate(45deg);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.offer-tag {
    position: absolute;
    top: 17px;
    right: -28px;
    width: 120px;
    text-align: center;
    padding: 6px 5px;
    font-size: 12px;
    font-weight: bold;
}

.ribon-balt {
    position: absolute;
    left: 15px;
    top: 0;
    width: 48px;
    
}
/* Card-box-header-footer end*/



/* footer section*/
.foot{
	background-color:#474747;
	position:relative;
}


.news .email{
	position:relative;
	overflow:hidden;
	background-color:#474747;
	border:1px solid #989898;
	color:#ffffff;

}

.news .btn {
	position:absolute;
	margin-top:-37px;
	margin-left:311px;
	background-color:#9A8E5E;
	color:#fff;
	border-radius:0px;
	border:none;
	padding:7px 15px;
	
}


table tr .text{
	color:#9A8E5E;
}

table tr td ul{
	list-style:none;
}

table tr td ul li{
	display:inline-block;
}

table tr td a{
	margin:2px;
	border:1px solid #858585;
	
}

table tr td ul li .ficon-1{
	padding:4px 11px;
}

table tr td ul li .ficon-2{
	padding:4px 6px;
}

table tr td ul li .ficon-3{
	padding:4px 4px;
}

table tr td ul li .ficon-4{
	padding:4px 6px;
}

table tr td a i{
	color:#858585;
}

.menu2 ul{
	float:right;
	list-style:none;
}

.menu2 ul li{
	display:inline-block;
	padding-left:15px;
}

.menu2 ul li a{
	text-decoration:none;
	color:#BEC0B2;
}

.horizontal{
	height:2px;
	width:100%;
	background-color:#9A8E5E;
	margin:10px 0px;
}

/* footer section End*/


/* Learge device */
@media screen and (max-width: 992px){

.search-box .form-control{
	width:250px;
	border:0px;
	border-radius:0px;
}


.search-box .search-box1 {
    margin-left:20px;
}
.search-box .search-box2 {
    margin-left:290px;
	margin-top:-46px;
}
.search-box .search-box3 {
    margin-left:560px;
	margin-top:-46px;
}

.card {
    margin-bottom: 30px;
}
.news .btn {
	
	margin-top:-38px;
	margin-left:292px;
}

.logo-img img{
	margin-right:35px;
	margin-bottom:25px;
	margin-left:0px;
	padding:0px;
}
.visa img{
	margin:0px;
	float:left;
}

}/* large device end code */


/* Medium device */
@media screen and (max-width: 768px){


.search-box .form-control{
	width:175px;
	border:0px;
	border-radius:0px;
}

.search-box .search-box1 {
    margin-left:15px;
}
.search-box .search-box2 {
    margin-left:200px;
	margin-top:-46px;
}
.search-box .search-box3 {
    margin-left:385px;
	margin-top:-46px;
}

.news .btn {
	margin-top:-38px;
	margin-left:470px;
}
}

/* Small device */
@media screen and (max-width: 576px){

.news .btn {
	margin-top:-38px;
	margin-left:475px;
}
}